html {
	font-size: 62.5%;
	width: 100%;
	height: 100%;
}

.heading {
	font-size: 3.5rem;
	text-align: center;
	font-family: "Poetsen One", sans-serif;
	font-weight: 399;
	font-style: normal;
}

.flex-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.Label {
	font-size: 2rem;
	margin: 0rem;
}

.date {
	width: 11rem;
	padding: 12px;
	font-size: 1.5rem;
	margin: 20px;

}

.but-submit {
	color: white;
	padding: 10px;
	background-color: black;
	border-radius: 20px;
}


.age-div {
	font-size: 20px;
}
